{% extends 'hedder_futter.html' %}
{%block content%}   
 {% load static %}
    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
      <div
        class="d-flex flex-column align-items-center justify-content-center"
        style="min-height: 300px"
      >
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
        <div class="d-inline-flex">
          <p class="m-0"><a href="">Home</a></p>
          <p class="m-0 px-2">-</p>
          <p class="m-0">Checkout</p>
        </div>
      </div>
    </div>
    <!-- Page Header End -->

    <!-- Checkout Start -->
    <div class="container-fluid pt-5">
      <div class="row px-xl-5">
        <div class="col-lg-8">
          <div class="mb-4">
            <h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
            <div class="row">
              <div class="col-md-6 form-group">
                <label>First Name</label>
                <input
                  class="form-control"
                  type="text"
                  name="fname"
                  placeholder="name"
                />
              </div>
              <div class="col-md-6 form-group">
                <label>Last Name</label>
                <input
                  class="form-control"
                  type="text"
                  name="lname"
                  placeholder="lname"
                />
              </div>
              <div class="col-md-6 form-group">
                <label>E-mail</label>
                <input
                  class="form-control"
                  type="text"
                  name="email"
                  placeholder="example@email.com"
                />
              </div>
              <div class="col-md-6 form-group">
                <label>Mobile No</label>
                <input
                  class="form-control"
                  type="text"
                  name="mobile"
                  placeholder="+9100000000"
                />
              </div>
              <div class="col-md-6 form-group">
                <label>Address Line 1</label>
                <input
                  class="form-control"
                  type="text"
                  name="address"
                  placeholder="123 Street"
                />
              </div>

              <div class="col-md-6 form-group">
                <label>Country</label>
                <select class="custom-select">
                  <option selected>INDIA</option>
                  <option>USA</option>
                  <option>CANADA</option>
                  <option>Australiya</option>
                </select>
              </div>
             
              <div class="col-md-12 form-group">
                <div class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="newaccount"
                  />
                  {% comment %} <label class="custom-control-label" for="newaccount"
                    >Create an account</label
                  > {% endcomment %}
                </div>
              </div>
              <div class="col-md-12 form-group">
                <div class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="shipto"
                  />
                  {% comment %} <label
                    class="custom-control-label"
                    for="shipto"
                    data-toggle="collapse"
                    data-target="#shipping-address"
                    >Ship to different address</label
                  > {% endcomment %}
                </div>
              </div>
            </div>
          </div>
          <div class="collapse mb-4" id="shipping-address">
            <h4 class="font-weight-semi-bold mb-4">Shipping Address</h4>
            <div class="row">
              <div class="col-md-6 form-group">
                <label>First Name</label>
                <input class="form-control" type="text"  name="firstname" placeholder="John" />
              </div>
              <div class="col-md-6 form-group">
                <label>Last Name</label>
                <input class="form-control" type="text" name="lastname" placeholder="Doe" />
              </div>
              <div class="col-md-6 form-group">
                <label>E-mail</label>
                <input
                  class="form-control"
                  type="text"
                  name="email"
                  placeholder="example@email.com"
                />
              </div>
              <div class="col-md-6 form-group">
                <label>Mobile No</label>
                <input
                  class="form-control"
                  type="text"
                  name="mobile_no"
                  placeholder="+123 456 789"
                />
              </div>
              <div class="col-md-6 form-group">
                <label>Address Line</label>
                <input
                  class="form-control"
                  type="text"
                  name="address"
                  placeholder="123 Street"
                />
              </div>
            
              <div class="col-md-6 form-group">
                <label>Country</label>
                <select class="custom-select">
                  <option selected>United States</option>
                  <option>Afghanistan</option>
                  <option>Albania</option>
                  <option>Algeria</option>
                </select>
              </div>

              <!-- <div class="col-md-6 form-group">
                <label>City</label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="New York"
                />
              </div> -->
              <!-- <div class="col-md-6 form-group">
                <label>State</label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="New York"
                />
              </div> -->
              <!-- <div class="col-md-6 form-group">
                <label>ZIP Code</label>
                <input class="form-control" type="text" placeholder="123" />
              </div> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card border-secondary mb-5">
            <div class="card-header bg-secondary border-0">
              <h4 class="font-weight-semi-bold m-0">Order Total</h4>
            </div>
            <div class="card-body">
             <span style="display: flex;  text-align:center"> 
              <h5 class="font-weight-medium mb-3" style="width: 100px; margin: 0 5px;">Products</h5>
              <h5 class="font-weight-medium mb-3" style="width: 100px; margin: 0 5px;">qun</h5>
              <h5 class="font-weight-medium mb-3" style="width: 100px; margin: 0 5px;">price</h5></span>
              
              

              {% for i in all_cart %}
              <div class="d-flex justify-content-between">
                <p>{{i.Product_id.P_name }}</p>
                <p>{{i.Quntity}}</p>
                <p>{{i.Product_id.P_Price}}</p>
              </div>
              {% endfor %}

              <hr class="mt-0" />
              <div class="d-flex justify-content-between mb-3 pt-1">
                <h6 class="font-weight-medium">Subtotal</h6>
                <h6 class="font-weight-medium">{{total_amount}}</h6>
              </div>
              <div class="d-flex justify-content-between">
                <h6 class="font-weight-medium">Shipping</h6>
                <h6 class="font-weight-medium">{{Shipping_amount}}</h6>
              </div>
            </div>
            <div class="card-footer border-secondary bg-transparent">
              <div class="d-flex justify-content-between mt-2">
                <h5 class="font-weight-bold">Total</h5>
                <h5 class="font-weight-bold">{{final_amount}}</h5>
              </div>
            </div>
          </div>
          <div class="card border-secondary mb-5">
            <div class="card-header bg-secondary border-0">
              <h4 class="font-weight-semi-bold m-0">Payment</h4>
            </div>
            <div class="card-body">
              <div class="form-group">
                <div class="custom-control custom-radio">
                  <input
                    type="radio"
                    class="custom-control-input"
                    name="payment"
                    id="paypal"
                  />
                  <label class="custom-control-label" for="paypal"
                    >Paypal</label
                  >
                </div>
              </div>
              <div class="form-group">
                <div class="custom-control custom-radio">
                  <input
                    type="radio"
                    class="custom-control-input"
                    name="payment"
                    id="directcheck"
                  />
                  <label class="custom-control-label" for="directcheck"
                    >Direct Check</label
                  >
                </div>
              </div>
              <div class="">
                <div class="custom-control custom-radio">
                  <input
                    type="radio"
                    class="custom-control-input"
                    name="payment"
                    id="banktransfer"
                  />
                  <label class="custom-control-label" for="banktransfer"
                    >Bank Transfer</label
                  >
                </div>
              </div>
            </div>
            <div class="card-footer border-secondary bg-transparent">
              <button
                class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3" id="pay-btn"
              >
                Place Order
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Checkout End -->

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
      var options = {
         
        // Enter the Key ID generated from the Dashboard
        key: "rzp_test_K7PbWE5f4Jh9ge",
         
        // Amount is in currency subunits.
        // Default currency is INR. Hence,
        // 50000 refers to 50000 paise
        amount: "{{final_amount}}"*100,
        currency: "INR",
         
        // Your/store name.
        name: "Dj Razorpay",
         
        // Pass the `id` obtained in the response of Step 1
        order_id: "{{ razorpay_order_id }}",
        callback_url: "{{ callback_url }}",
      };
       
      // initialise razorpay with the options.
      var rzp1 = new Razorpay(options);
       
      // add event listener to the payment button.
      document.getElementById("pay-btn").onclick = function (e) {
        rzp1.open();
        e.preventDefault();
      };
    </script>

  {% endblock %}