{% extends '2hedder_futter.html' %}
{% block content %}
{% load static %}
<!-- Shop Detail Start -->



<div class="container-fluid py-5">
  <div class="row px-xl-5">
    <div class="col-lg-5 pb-5">
      <div id="product-carousel" class="carousel slide" data-ride="carousel">
        <div   class="carousel-inner border">
          <div class="carousel-item active">
            <img class="w-100 h-100" src="{{one_product.Listing_immage.url}}" alt="Image" />
          </div>
          {% comment %} <div class="carousel-item">
            <img class="w-100 h-100" src="{% static 'img/product-2.jpg' %}" alt="Image" />
          </div>
          <div class="carousel-item">
            <img class="w-100 h-100" src="{% static 'img/product-3.jpg' %}" alt="Image" />
          </div>
          <div class="carousel-item">
            <img class="w-100 h-100" src="{% static 'img/product-4.jpg' %}" alt="Image" />
          </div> {% endcomment %}
        </div>
        <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
          <i class="fa fa-2x fa-angle-left text-dark"></i>
        </a>
        <a class="carousel-control-next" href="#product-carousel" data-slide="next">
          <i class="fa fa-2x fa-angle-right text-dark"></i>
        </a>
      </div>
    </div>

  <form action="{% url 'Add_To_Cart' one_product.id %}" method="post">
      {% csrf_token %}
    <div class="col-lg-7 pb-5">
      <h3 class="font-weight-semi-bold">{{one_product.P_name}}</h3>
      <div class="d-flex mb-3">
        <div class="text-primary mr-2">
          <small class="fas fa-star"></small>
          <small class="fas fa-star"></small>
          <small class="fas fa-star"></small>
          <small class="fas fa-star-half-alt"></small>
          <small class="far fa-star"></small>
        </div>
        <small class="pt-1">(50 Reviews)</small>
      </div>
     
      <h3 class="font-weight-semi-bold mb-4">$ {{one_product.P_Price}}</h3>

      <div class="d-flex mb-3">
        <p class="text-dark font-weight-medium mb-0 mr-3">Sizes:</p>
        
          {% for i in sizes %}
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="" name="size" style="height: 20px; width: 20px; " value="{{i}} "/>
            <label style="margin-left: 5px;">{{i}}</label>
          </div>
          {%endfor%}

        
      </div>
      <div class="d-flex mb-4 ">
        <p class="text-dark font-weight-medium mb-0 mr-3">Colors:</p>
        <p>
         

          {% for i in colors %}
            <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="" name="color" style="height: 20px; width: 20px;" value="{{i}}" />
            <label style="margin-left: 5px;">{{i}}</label>
          </div>
          {%endfor%}
        
      </div>
      {% if one_product.P_Quntity == 0 %}
      <p>Sold Out</p>
              <input type="submit" value="Add To Cart" disabled>
             {% else %}
              <input type="submit" value="Add To Cart">
             {%endif%}
          <div class="d-flex pt-2">
            <p class="text-dark font-weight-medium mb-0 mr-2">Share on:</p>
            <div class="d-inline-flex">
              <a class="text-dark px-2" href="">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a class="text-dark px-2" href="">
                <i class="fab fa-twitter"></i>
              </a>
              <a class="text-dark px-2" href="">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a class="text-dark px-2" href="">
                <i class="fab fa-pinterest"></i>
              </a>
            </div>
          </div>
 
    </div>
  </form>
  </div>
</div>
</div>
<p>{{one_product.P_Description}}</p>

{% comment %} <!-- Products Start -->
<div class="container-fluid py-5"> 
      
      <div class="text-center mb-4">
        <h2 class="section-title px-5">
          <span class="px-2">You May Also Like</span>
        </h2>
      </div>
      <div class="row px-xl-5">
        <div class="col-12">
          <div class="owl-carousel related-carousel">
            <div class="card product-item border-0">
              <div 
                class="card-header product-img position-relative overflow-hidden bg-transparent border p-0"
              >
                <img class="img-fluid w-100"  src="{% static 'img/product-1.jpg' %}" alt="" />
              </div>
              <div
                class="card-body border-left border-right text-center p-0 pt-4 pb-3"
              >
                <h6 class="text-truncate mb-3">Colorful Stylish Shirt</h6>
                <div class="d-flex justify-content-center">
                  <h6>$123.00</h6>
                  <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                </div>
              </div>
              <div
                class="card-footer d-flex justify-content-between bg-light border"
              >
                <a href="" class="btn btn-sm text-dark p-0"
                  ><i class="fas fa-eye text-primary mr-1"></i>View Detail</a
                >
                <a href="" class="btn btn-sm text-dark p-0"
                  ><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To
                  Cart</a
                >
              </div>
            </div>
            <div class="card product-item border-0">
              <div
                class="card-header product-img position-relative overflow-hidden bg-transparent border p-0"
              >
                <img class="img-fluid w-100" src="{% static 'img/product-2.jpg'%}" alt="" />
              </div>
              <div
                class="card-body border-left border-right text-center p-0 pt-4 pb-3"
              >
             <h6 class="text-truncate mb-3">Colorful Stylish Shirt</h6>
                <div class="d-flex justify-content-center">
                  <h6>$123.00</h6>
                  <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                </div>
              </div>
              <div
                class="card-footer d-flex justify-content-between bg-light border"
              >
                <a href="" class="btn btn-sm text-dark p-0"
                  ><i class="fas fa-eye text-primary mr-1"></i>View Detail</a
                >
                <a href="" class="btn btn-sm text-dark p-0"
                  ><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To
                  Cart</a
                >
              </div>
            </div>
            <div class="card product-item border-0">
              <div
                class="card-header product-img position-relative overflow-hidden bg-transparent border p-0"
              >
                <img class="img-fluid w-100" src="{% static 'img/product-3.jpg' %}" alt="" />
              </div>
              <div
                class="card-body border-left border-right text-center p-0 pt-4 pb-3"
              >
                <h6 class="text-truncate mb-3">Colorful Stylish Shirt</h6>
                <div class="d-flex justify-content-center">
                  <h6>$123.00</h6>
                  <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                </div>
              </div>
              <div
                class="card-footer d-flex justify-content-between bg-light border"
              >
                <a href="" class="btn btn-sm text-dark p-0"
                  ><i class="fas fa-eye text-primary mr-1"></i>View Detail</a
                >
                <a href="" class="btn btn-sm text-dark p-0"
                  ><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To
                  Cart</a
                >
              </div>
            </div>
            <div class="card product-item border-0">
              <div
                class="card-header product-img position-relative overflow-hidden bg-transparent border p-0"
              >
                <img class="img-fluid w-100" src="{% static 'img/product-4.jpg' %}" alt="" />
              </div>
              <div
                class="card-body border-left border-right text-center p-0 pt-4 pb-3"
              >
                <h6 class="text-truncate mb-3">Colorful Stylish Shirt</h6>
                <div class="d-flex justify-content-center">
                  <h6>$123.00</h6>
                  <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                </div>
              </div>
              <div
                class="card-footer d-flex justify-content-between bg-light border"
              >
                <a href="" class="btn btn-sm text-dark p-0">
                  <i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                  {% if one_product.P_Quntity == 0 %}
                  <button disabled>
                  <a href="{% url 'Add_To_Cart' one_product.id %}" class="btn btn-sm text-dark p-0"
                  ><i class="fas fa-shopping-cart text-primary mr-1">Add
                  To Cert</button> </i></a>
                  {% else %}
                  <a href="{% url 'Add_To_Cart' one_product.id %}" class="btn btn-sm text-dark p-0"
                  ><i class="fas fa-shopping-cart text-primary mr-1"><button >Add
                  To Cert</button> </i></a>
                  {% endif %}
              </div>
            </div>
         <div class="card product-item border-0">
              <div
                class="card-header product-img position-relative overflow-hidden bg-transparent border p-0"
              >
                <img class="img-fluid w-100" src="{% static 'img/product-5.jpg' %}" alt="" />
              </div>
              <div
                class="card-body border-left border-right text-center p-0 pt-4 pb-3"
              >
                <h6 class="text-truncate mb-3">Colorful Stylish Shirt</h6>
                <div class="d-flex justify-content-center">
                  <h6>$123.00</h6>
                  <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                </div>
              </div>
              <div
                class="card-footer d-flex justify-content-between bg-light border"
              >
                <a href="" class="btn btn-sm text-dark p-0"
                  ><i class="fas fa-eye text-primary mr-1"></i>View Detail</a
                >
                <a href="" class="btn btn-sm text-dark p-0"
                ><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To
                Cart</a
                > 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- Products End --> {% endcomment %}

{% endblock %}